
.moviesSearchBar {
    min-width: 555px !important;
}

.moviesSelectLanguage {
    min-width: 250px !important;
}

.moviesSelectLocation {
    min-width: 250px !important;
}

.movieCardImage {
    cursor: pointer;
}

.paginationContainer {
    margin-top: 30px !important;
    text-align: center;    
}

.MuiPagination-ul {
    justify-content: center;
}

.pageNumberContainer {
    margin-top: 30px !important;
    text-align: center;
}